{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% bootstrap_css %}
    <title> My photo Gallery  {% block title%}  {% endblock title%} </title>
</head>
<body>

{% include 'navbar.html' %}

 <div class="container">


  {% block content %}

  {% endblock content %}
   </div>


{% bootstrap_javascript jquery='full' %}

  {% block scripts %}

  {% endblock scripts %}
    

</body>
</html>