{%extends 'base.html'%}

{% block content %}

{{block.super}}

<!-- Landing Page -->
<div class="banner-1">
    <div class="cover-1">
        <h2>The images are located in {{location.name}}</h2>
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
                  <br>
                 </div>
                 <small>Trending searches: fashion, travel</small>
              </form>

        </div>
    </div>
</div>
{% endblock content %}